<div class="container-fluid">

<!-- row one -->
  <div class="row">

    <div class ="col-sm-6">
      <div class="panel panel-info">
       <div class="panel-heading">
        <h3 class="panel-title">Harvest</h3>
       </div>
        <div class="panel-body">
          <a href="#/employee" class="btn btn-Primary">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          Harvest
        </a>
        </div>
      </div>
    </div>

    <div class ="col-sm-6">
      <button class="btn btn-Success"> Field </button>
    </div>
  </div>




<!-- row two -->
  <div class="row">
    <div class ="col-sm-6">
      <button class="btn btn-default"> Employee </button>
    </div>
    <div class ="col-sm-6">
      <button class="btn btn-default"> Box </button>
    </div>
  </div>

</div> <!-- end container -- >


